
/* Violet color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
:root {
    --pico-border-radius: .3rem;
    --pico-font-size: 85%;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
  }
  
  [data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(167, 128, 212, 0.25);
  --pico-primary: #8352c5;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(131, 82, 197, 0.5);
  --pico-primary-hover: #6935b3;
  --pico-primary-hover-background: #6935b3;
  --pico-primary-focus: rgba(167, 128, 212, 0.25);
  --pico-primary-inverse: #fff;
}

/* Violet color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
    --pico-primary: #b290d9;
    --pico-primary-background: #7540bf;
    --pico-primary-underline: rgba(178, 144, 217, 0.5);
    --pico-primary-hover: #c9afe4;
    --pico-primary-hover-background: #8352c5;
    --pico-primary-focus: rgba(178, 144, 217, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Violet color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
  --pico-primary: #b290d9;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(178, 144, 217, 0.5);
  --pico-primary-hover: #c9afe4;
  --pico-primary-hover-background: #8352c5;
  --pico-primary-focus: rgba(178, 144, 217, 0.25);
  --pico-primary-inverse: #fff;
}


body > * {
    flex-shrink: 0;
}

.endorsed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 30px;

}

.endorsed-container article {
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
}

.endorsed-container article p {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break:  break-all;
    margin-bottom:2px;
}

.account-info {
    margin:-8px;
}

.low-opacity {
    position: relative;
    isolation: isolate;
}

.low-opacity::after {
    content: '';
    position:absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.2;
}

.endorsed-container article {
    flex-grow: 1;
}

.account-container {
    font-size:smaller; 
    line-height:1.2;
    overflow-wrap: break-word;

}

.avatar-container {
    display:inline-flex;
    justify-content:center;
    align-items: center;
}

.account-placeholder {
    width: 200px;
    height: 2px;
    margin: 5px;
    
    flex-basis: 200px;
    flex-grow: 1;
  }

.account-summary {
    display:flex;
}

img.avatar {
    border-radius: 50%;
    margin-right:10px;
    margin-botton:10px;
}


.followed-container {
    display:flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content:flex-start;
    gap: 5px 15px;
    
}

.followed-container article {
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
}
  
.followed-container article div {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break:  break-all;
    min-width:0px;
}

.followed-item img {
    float:left;
    width: 50px;
    height: 50px;
}

.followed-item {
    min-width: 0;
    max-width:500px;
    padding-bottom:25px;
}

.followed-item div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:  break-all;
}

.followed-item img {
    border-radius: 0.5em;
    margin-right: 15px;
    margin-bottom: 2px;
}
  
.followed-item div.pin {
    text-align: center;
}

.followed-item button {
    padding: 10px 20px 10px 20px;
    font-size:smaller;
}

.followed-placeholder {
    width: 250px;
    height: 2px;
    margin: 20px;
    
    flex-basis: 250px;
    flex-grow: 1;
    visibility: hidden;
 }

summary {
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom: 10px;
}


.api_docs_container {
    display: flex;
    whitespace: nowrap;
    flex-wrap: wrap;
}

.api_docs {
    margin-bottom: 10px !important;
    padding-right: 20px !important;
    white-space: nowrap;

}

.api_docs a {
    text-decoration: none;
}

.border-shadow {
    border-radius:.50em;
    margin:20px;
    box-shadow: 0px 0px 19px #9236A4;
  }

  .endorsed .account-info {
    background-color: rgba(0, 0, 0, 0.85); 
    padding: 15px; 
    border-radius: 0.5em;
    
}