/* Violet color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
:root {
  --pico-border-radius: 0.3rem;
  --pico-font-size: 85%;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-text-selection-color: rgba(167, 128, 212, 0.25);
  --pico-primary: #8352c5;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(131, 82, 197, 0.5);
  --pico-primary-hover: #6935b3;
  --pico-primary-hover-background: #6935b3;
  --pico-primary-focus: rgba(167, 128, 212, 0.25);
  --pico-primary-inverse: #fff;
}

/* Violet color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
    --pico-primary: #b290d9;
    --pico-primary-background: #7540bf;
    --pico-primary-underline: rgba(178, 144, 217, 0.5);
    --pico-primary-hover: #c9afe4;
    --pico-primary-hover-background: #8352c5;
    --pico-primary-focus: rgba(178, 144, 217, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Violet color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
  --pico-primary: #b290d9;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(178, 144, 217, 0.5);
  --pico-primary-hover: #c9afe4;
  --pico-primary-hover-background: #8352c5;
  --pico-primary-focus: rgba(178, 144, 217, 0.25);
  --pico-primary-inverse: #fff;
}

body > * {
  flex-shrink: 0;
}

.root {
  max-width: 950px;
}

form {
  margin-bottom: 50px;
}

input {
  font-size: 19px;
}

.btn-login {
  width: 150px;
}

.account article {
  text-align: center;
}

.account header {
  padding: 0px;
}

.profile header {
  padding: 0px;
}

header .title {
  text-align:center;
}

header .banner {
  border-radius: 0.5em;
  height: 250px;
  background-size: 100%;
}

.profile-note {
  margin-top: 10px;
}

.profile-account-info {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 0.5em;
  top: 75px;
  width: 95%;
  margin: 0 auto;
}

.account-display-name {
  font-size: larger;
}

button .unpin::before {
  margin-top: 10px;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  opacity: 100%;
}

button .refresh {
  top: 10px;
}

#refresh {
  position: relative;
  text-align: right;
  padding-right: 10px;
}

#refresh button {
  position: relative;
  top: 60px;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 15px;
  border-radius: 0.5em;
}

.endorsed-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  column-gap: 30px;
  margin-bottom: 10px;
}

.endorsed-summary {
  margin-bottom: 20px;
}

.endorsed-container article {
  width: 200px;
  flex-basis: 200px;
  flex-grow: 1;
}

.endorsed-container article p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 2px;
}

.endorsed-action {
  margin-top: 15px;
}

.account-placeholder {
  visibility: hidden;
  width: 200px;
  height: 2px;
  margin: 5px;
  margin-bottom: -80px;

  flex-basis: 200px;
  flex-grow: 1;
}

img.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.followed-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 5px 15px;
}

.followed-container article {
  width: 200px;
  flex-basis: 200px;
  flex-grow: 1;
}

.followed-container article div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  min-width: 0px;
}

.followed-item img {
  float: left;
  width: 50px;
  height: 50px;
}

.followed-item {
  min-width: 0;
  max-width: 500px;
  padding-bottom: 25px;
}

.followed-item div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.followed-item img {
  border-radius: 0.5em;
  margin-right: 15px;
  margin-bottom: 2px;
}

.followed-item div.pin {
  text-align: center;
}

.followed-item button {
  padding: 10px 20px 10px 20px;
  font-size: smaller;
}

.followed-placeholder {
  width: 250px;
  height: 2px;
  margin: 20px;

  flex-basis: 250px;
  flex-grow: 1;
  visibility: hidden;
}

.border-shadow {
  border-radius: 0.5em;
  margin: 20px;
  box-shadow: 0px 0px 19px #9236a4;
}

.endorsed {
  border-radius: 0.5em;
  background-color: #858afa;
  padding:25px;
}

.endorsed .account-info {
  text-align: center;
  margin: -8px;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 15px;
  border-radius: 0.5em;
  opacity: 1;
}

.endorsed .avatar {
  margin-top:10px;
  opacity: 100%;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.read-only-scope {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px;
}

.active {
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: #2f0c7a;
  border: solid 1px #7540bf;
  border-radius: 10px;
}

.page-footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom:50px;
}

.endorsed-container,
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  gap: 20px 40px;
}

.endorsed-container article {
  flex-grow: 1;
  flex-basis: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 250px;
  min-width: 250px;
}

.endorsed-container article header {
  padding: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.endorsed-container header img.banner {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.endorsed-container .avatar {
  position: relative;
  left: 10px;
  top: -10px;
}

.endorsed-container .grouping {
  display: flex;
}

.endorsed-container header .name {
  margin-left: 30px;
  font-size: 0.8em;
}

.endorsed-container header .acct {
  font-size: 0.7em;
}

.endorsed-container header .avatar img {
  border-radius: 25px;
  max-width: 75px;
  border: solid 1px black;
  width: 100%;
  height: auto;
}

.endorsed-container article .content {
  font-size: 12pt;
  text-align: center;
}

.endorsed-container .name {
  margin-top: 3px;
}

.endorsed-container .content button {
  padding: 10px;
  font-size: smaller;
}
