
/* Violet color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
:root {
    --pico-border-radius: .3rem;
    --pico-font-size: 85%;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
  }
  
  [data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(167, 128, 212, 0.25);
  --pico-primary: #8352c5;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(131, 82, 197, 0.5);
  --pico-primary-hover: #6935b3;
  --pico-primary-hover-background: #6935b3;
  --pico-primary-focus: rgba(167, 128, 212, 0.25);
  --pico-primary-inverse: #fff;
}

/* Violet color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
    --pico-primary: #b290d9;
    --pico-primary-background: #7540bf;
    --pico-primary-underline: rgba(178, 144, 217, 0.5);
    --pico-primary-hover: #c9afe4;
    --pico-primary-hover-background: #8352c5;
    --pico-primary-focus: rgba(178, 144, 217, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Violet color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
  --pico-text-selection-color: rgba(178, 144, 217, 0.1875);
  --pico-primary: #b290d9;
  --pico-primary-background: #7540bf;
  --pico-primary-underline: rgba(178, 144, 217, 0.5);
  --pico-primary-hover: #c9afe4;
  --pico-primary-hover-background: #8352c5;
  --pico-primary-focus: rgba(178, 144, 217, 0.25);
  --pico-primary-inverse: #fff;
}


body > * {
    flex-shrink: 0;
}

.followed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    column-gap: 30px;

}

.followed-container article {
    flex-grow: 1; 
}


.account-container {
    font-size:smaller; 
    line-height:1.2;
    overflow-wrap: break-word;

}

.avatar-container {
    display:inline-flex;
    justify-content:center;
    align-items: center;
}

.account-summary {
    display:flex;
}

img.avatar {
    border-radius: 50%;
    margin-right:10px;
    margin-botton:10px;
}

summary {
    padding-top: 10px;
    padding-bottom:10px;
    margin-bottom: 10px;
}


.api_docs_container {
    display: flex;
    whitespace: nowrap;
    flex-wrap: wrap;
}

.api_docs {
    margin-bottom: 10px !important;
    padding-right: 20px !important;
    white-space: nowrap;

}

.api_docs a {
    text-decoration: none;
}

.border-shadow {
    border-radius:.50em;
    margin:20px;
    box-shadow: 0px 0px 19px #CD68E0;
  }