<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/pico.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Mastodon Featured Profiles Lab</title>
    <script src="lib/vue.global.prod.js" defer></script>
    <script src="mastodon.js" defer></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <div class="container root">
        <main class="container">
          <header class="container">
            <nav>
              <ul></ul>
              <ul>
                <li v-if="mastodon && mastodon.loggedIn()">
                  <a @click="this.refresh(this.$root.user_id, true)">Refresh</a>
                </li>
                <li v-if="mastodon && mastodon.loggedIn()">|</li>
                <li v-if="mastodon && mastodon.loggedIn()">
                  <a @click="logout()">Logout</a>
                </li>
                <li></li>
              </ul>
            </nav>
          </header>
          <dialog v-if="this.$root.userPreferences.read_only === true && this.$root.read_only_modal_displayed != true" id="readOnlyModal" open>
            <article>
              <h2>You are logged in with read only access</h2>
              <p>
                To add or remove featured profiles, you'll need to do so directly on your Mastodon instance.
              </p>
              <p>
                From a profile page, select the action from the secondary menu, then refresh this page to see the update. 
              </p>

              <img src="/images/profile_example.png" alt="Profile Example" style="width:100%; max-width:300px; margin: 0 auto; display:block;"/>

              <footer>
                <button @click="hideModal()" >Understood</button>
              </footer>
            </article>
          </dialog>
          <div v-if="mastodon && !mastodon.loggedIn()">
            <hgroup>
              <h1>Mastodon Featured Profiles</h1>
              <p>
                A streamlined tool for easier management of your featured
                profiles.
              </p>
            </hgroup>

            <hr />

            <h3>Login with Mastodon</h3>

            <form @submit.prevent="login">
              <label id="mastodon-instance-label" for="mastodon-instance">
                Enter your Mastodon instance (also known as a server or domain)
              </label>
              <input
                type="text"
                v-model="server"
                id="mastodon-instance"
                list="servers"
                autocomplete="on"
                aria-label="Your Mastodon Instance"
                aria-describedby="mastodon-instance-label"
                placeholder="mastodon.social"
                aria-placeholder="mastodon.social"
                required=""
                aria-required="true"
              />
              <datalist id="servers">
                <option v-for="server in servers">{{ server.domain }}</option>
              </datalist>

              <div class="read-only-scope" :class="{ active:read_only }">
                <label>
                  <input
                    id="mastodon-read-only-scope"
                    v-model="read_only"
                    type="checkbox"
                    role="switch"
                  />
                  Security conscious? Authorize read-only access.
                </label>
                <div>
                  <em
                    >Prevents managing featured profiles, but allows viewing
                    existing selections.</em
                  >
                </div>
              </div>

              <button class="btn-login" type="submit">Login</button>
            </form>
          </div>
          <div v-else>
            <article>
              <account
                v-if="this.loading_endorsements == false"
                :profile="this.my_account"
                :followed="this.my_followed"
                :endorsements="this.my_endorsements"
              ></account>
              <endorsements
                :endorsements="this.my_endorsements"
                :loading_endorsements="this.loading_endorsements"
                :total_endorsements_loaded="this.total_endorsements_loaded"
              ></endorsements>
              <followed
                :followed="this.my_followed"
                :loading_followed="this.loading_followed"
                :total_followed_loaded="this.total_followed_loaded"
              ></followed>
            </article>
          </div>
        </main>
        <footer class="container page-footer">
          Made by
          <a href="https://box464.com" rel="me" target="_blank" rel="noopener"
            >Jeff Sikes</a
          >
          (<a
            href="https://mastodon.social/@box464"
            rel="noopener"
            target="_blank"
            >@box464</a
          >). Source on
          <a
            class="underline text-green-800"
            href="https://github.com/jeffsikes/mastodon-threaded-replies"
            >GitHub</a
          >.<br />
        </footer>
      </div>
    </div>
  </body>
  <script type="text/x-template" id="account-template">
    <div class="account">
      <article>
        <header>
          <div class="banner" :style="{backgroundImage: `url(${profile.header})`}"  >
            <div class="profile-account-info" >
              <div>
                <img class="avatar" :src="profile.avatar" :alt="profile.display_name" loading="lazy"/>
              </div>
                <span v-if="profile.display_name" class="account-display-name">{{ profile.display_name }}</span><br/>
                <a :href="profile.url" target="_blank" rel="me noopener">
                  <span v-if="profile.bot" alt="Bot Account">🤖 </span>@{{profile.acct }}<br/>
                </a>
              <span v-if="profile.followers_count" class="account-followers">{{ profile.followers_count }} Followers</span><span class="account-followers" v-else>0 Followers</span>,
              <span v-if="profile.following_count" class="account-following">{{ profile.following_count }} Following</span><span v-else class="account-following">0 Following</span>
              <div class="profile-note">
                <span v-if="profile.note" class="account-note" v-html="profile.note"></span>
              </div>
            </div>
          </div>
        </header>
    </article>
    </div>
  </script>

  <script type="text/x-template" id="endorsements-template">
    <h2 style="padding-top:20px;">Featured Profiles</h2>
    <div v-if="loading_endorsements == true">
      <p>Loading {{ this.$root.total_endorsements_loaded }} of {{ this.$root.my_endorsements.length }} featured profiles...</p>
    </div>
    <div v-else>
      <div v-if="this.$root.my_endorsements.length > this.$root.max_displayed_endorsements">
        <p class="highlight">You have {{ this.$root.my_endorsements.length }} featured profiles.</p>
        <p id="endorsed-descritpion">The first {{ this.filteredEndorsements.length }} are displayed. Search for a specific profile, or display them all.</p>
        <input id="search-input-endorsed" type="search" v-model="searchValue" placeholder="Search your featured profiles" aria-label="Search Featured Profiles" aria-describedby="endorsed-description" />
        <div class="endorsed-summary">
          Found {{ filteredEndorsements.length }} accounts that match.</p>
        </div>
      </div>
      <div v-if="this.endorsements.length == 0">
        <hgroup>
          <h4>You have no profiles currently selected.</h4>
          <p v-else>Search your followed accounts for profiles to feature.</p>
        </hgroup>
      </div>
      <div v-else>
        <hgroup>
          <h4>You have {{ this.$root.my_endorsements.length }} featured profile<span v-if="this.$root.my_endorsements.length > 1">s</span>.</h4>
          <p>Search your followed accounts for a profile to feature.</p>
        </hgroup>
      </div>
    </div>
    <div class="endorsed-container">

       <article class="endorsed item" v-for="endorsement in filteredEndorsements" :id="endorsement.id" :key="endorsement.id" :style="{backgroundImage: `url(${endorsement.header})`}">
          <div class="account-info">
            <img class="avatar" :src="endorsement.avatar" :alt="endorsement.display_name" loading="lazy" />
            <div style="text-align:center;">
              <div v-if="endorsement.display_name" class="account-display-name" style="display:flex; align-items:center; justify-content:center;" v-html="this.$root.parse_emojis(endorsement.display_name, endorsement.emojis)"></div>
              <p>
                <span v-if="endorsement.group" alt="Group Account">👥 </span><span v-if="endorsement.bot" alt="Bot Account">🤖 </span><a target="_followed" v-if="this.$root.userPreferences.read_only == true" :href="'https://' + this.$root.userPreferences.server + '/@' + endorsement.acct" target="_blank" rel="me noopener">@{{ endorsement.acct }}</a>
              </p>
            </div>
            <div class="endorsed-action">
              <button v-if="this.$root.userPreferences.read_only && this.$root.userPreferences.read_only == false" class="secondary unpin" @click="unpin(endorsement.id)" :aria-label="`Remove featured profile for ${ endorsement.acct }`">Remove</button>
              <a v-else  target="_followed" role="button" class="secondary unpin" :href="'https://' + this.$root.userPreferences.server + '/@' + endorsement.acct" :aria-label="`Remove featured profile for ${ endorsement.acct }`">Remove</a>
            </div>
          </div>
        </article>
        <article class="account-placeholder"></article>
        <article class="account-placeholder"></article>
        <article class="account-placeholder"></article>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="followed-template">
    <h2>Followed Accounts</h2>
    <div v-if="loading_followed == true">
      <p>Loading {{ this.total_followed_loaded }} of {{ this.$root.my_account.following_count }} followed accounts...</p>
    </div>
    <div v-else>
      <input v-if="this.$root.my_account.following_count < this.$root.followed_threshold" id="search-input" type="search" v-model="searchValue" placeholder="Search for a profile to feature" />
      <input v-else id="search-input" type="search" v-model="searchValue" @keyup="getFollowedAccounts" placeholder="Search for a profile to feature"/>
      <div class="followed-summary">
        <p>Showing {{ filteredFollowed.length }} of {{ this.$root.my_account.following_count  }} followed profiles</p>
      </div>
      <div class="followed-container" id="followed">
        <article class="followed-account followed-item border-shadow" v-for="account in this.filteredFollowed" :key="account.id" :id="account.id" >
          <img :src="account.avatar" :alt="account.display_name" loading="lazy" />
          <div><span v-if="account.bot" alt="Automated Account">🤖 </span><span>{{ account.display_name }}</span></div>
          <div>
            <a :href="account.url" target="_blank" rel="noopener">{{ account.acct }}</a>
          </div>
          <footer>
        <div  class="pin">
          <button v-if="this.$root.userPreferences.read_only && this.$root.userPreferences.read_only == false" v-on:click="pin(account.id)">Feature</button>
          <a v-else  target="_followed" role="button" :href="'https://' + this.$root.userPreferences.server + '/@' + account.acct" :aria-label="`Feature profile for ${ account.acct }`">Feature</a>
          </div>
          </footer>
      </article>

      <article class="followed-placeholder"></article>
      <article class="followed-placeholder"></article>
    </div>
  </script>
</html>
